@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #643d87;
    background-image: url(imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
main{
    width: 400px;
    height: 300px;
    padding: 10px;
    margin: 120px auto;
    border-radius: 10px;
    background-color: #ffffff4d;
    text-align: center;
}
 main img{
    margin-top: -60px;
 }

 input#email{
    height: 40px;
    width: 85%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    border: none;
    padding-left:40px;
    background-image: url(imagens/icone-usuario.png);
    background-repeat: no-repeat;
    background-position: 10px;
    border-radius: 10px;
 }
 input#password{
    height: 40px;
    width: 85%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    border: none;
    padding-left:40px;
    background-image: url(imagens/icone-cadeado.png);
    background-repeat: no-repeat;
    background-position: 10px;
    border-radius: 10px;
 }
 button{
    height: 40px;
    width: 95%;
    font-size: 18px;
    background-color: #f79300;
    border: 2px solid #db7d00;
    color: white;
    padding-left:  40px;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(to bottom,#faa500,#f68a00);

 }
